body {
    background-color: aqua;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center, justify;
}

.images {
    width: 500px;
    height: 500px;
}

.content {
    margin: auto;
    text-align: center;
    color: black;
}

.buttons {
    border-width: 5px;
    border-style: groove;
    border-color: blueviolet;
    width: 30%;
    padding: 10px;
    margin: auto;
}

.btn1 {
    padding: 20px;
    background-color: chartreuse;
    border-radius: 4px;
    transition-duration: 0.2s;
    box-shadow: 0 9px #999;
    text-align: center;
}

.btn2 {
    padding: 20px;
    background-color: crimson;
    border-radius: 4px;
    display: inline-block;
    transition-duration: 0.2s;
    box-shadow: 0 9px #999;
    text-align: center;
}

.btn1:hover { 
    background-color: white;
}

.btn2:hover {
    background-color: white;
}

.btn1:active {
    background-color: rgba(128, 255, 0, 0.602);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.btn2:active {
    background-color: hsla(348, 83%, 47%, 0.602);
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#image {
    width: 300px;
    height: 300px;
}
